
<head>
    <title>Đăng nhập/Đăng ký</title>
    <!-- Các thẻ meta và link CSS -->
</head>
<body>
    <section class="ftco-section">
        <div class="container">
            <h2>Đăng nhập hoặc Đăng ký</h2>
            <div class="links">
                <a class="btn btn-primary py-3 px-5" asp-controller="Account" asp-action="Login">Đăng nhập</a>
                <a class="btn btn-primary py-3 px-5" asp-controller="Account" asp-action="Register">Đăng ký</a>
            </div>
        </div>
    </section>
</body>
